.header-right {
  /* padding-right: 16px; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.balance {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  background: var(--promo-tab-bg);
  width: auto;
  padding: 0 5px 0 0;
  height: 46px;
}
.balance > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.balance > div:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.balance-value {
  color: var(--primary-text-color);
}
.username-info {
  padding-left: 0;
  position: relative;
  cursor: pointer;
  flex-wrap: wrap;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  padding-right: 10px;
  background-color: var(--promo-tab-bg);
  border-color: transparent;
  color: var(--primary-text-color) !important;
}
.user-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.username-info:hover {
  background-color: var(--promo-tab-bg);
  border-color: transparent;
  color: var(--primary-text-color) !important;
}
.username-info:active {
  background-color: var(--promo-tab-bg) !important;
  border-color: transparent !important;
  color: var(--primary-text-color) !important;
}
.dropdown-menu.dropdown-menu-dark {
  background-color: var(--promo-tab-bg) !important;
}
.dropdown-menu-dark .dropdown-item {
  padding-left: 16px;
  line-height: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 6px 0px;
  color: var(--primary-text-color);
}
.dropdown-menu-dark .dropdown-divider {
  border-top: 1px solid rgb(46 52 57);
}
.form-control:disabled {
  background-color: #3c444b !important;
}
@media only screen and (min-width: 320px) and (max-width: 1279px) {
  .d-none-mobile {
    display: none !important;
  }
  .username-info:hover {
    background-color: transparent;
    border-color: transparent;
  }
  .username-info:active {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .header-right .bal-point {
    font-size: 10px;
    font-weight: bold;
    color: var(--primary-text-color);
  }
  .username-info {
    padding-left: 0;
    text-align: left;
    display: block;
    margin-top: 3px;
    height: auto;
    background-color: transparent;
    margin-left: 0;
    font-size: 12px;
    border-color: transparent;
  }
  .user-icon {
    display: inline;
    padding: 0;
  }
  .user-icon img {
    width: 20%;
    height: 20%;
  }
  .header-right {
    display: block;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .d-none-desktop {
    display: none !important;
  }
}
