.nav-items {
  color: gainsboro;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.nav-items:hover {
  color: white;
}
.mobile-sidebar-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 9999;
}
.mobile-sidebar-active {
  position: absolute;
  margin-left: 10px;
  top: 0;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .mobile-sidebar-active {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .mobile-sidebar-active {
    width: 70%;
  }
}
.notification-icon {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.notification-icon:hover {
  background-color: transparent !important;
  border: 0;
}
.notification-icon:active {
  background-color: transparent !important;
  border: 0;
}
.notification-menu {
  margin-top: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.w300 {
  width: 300px;
}
.notification-header {
  background-color: var(--white-text);
  border-bottom: 1px solid var(--black-text);
}
.notification-body {
  min-height: 220px;
}
.notification-item {
  border-bottom: 1px solid var(--light-text-color);
  padding: 8px 0px;
}
.item-name {
  color: var(--black-text);
  text-decoration: none;
  font-size: 13px;
}
.notification-date {
  color: var(--light-text-color);
  font-size: 11px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.notification-footer {
  background-color: var(--primary-color);
  color: var(--white-text);
  text-decoration: none;
}
@media only screen and (min-width: 375px) and (max-width: 1279px) {
  .notification-icon img {
    margin-left: 10px;
    height: 30% !important;
    width: 30% !important;
  }
}
.notification-detail {
  width: 50%;
  text-align: left !important;
  padding: 10px 5px !important;
  font-size: 13px;
}
