.nav-items {
  color: gainsboro;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.nav-items:hover {
  color: white;
}
.mobile-sidebar-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 9999;
}
.mobile-sidebar-active {
  position: absolute;
  margin-left: 10px;
  top: 0;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .mobile-sidebar-active {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .mobile-sidebar-active {
    width: 70%;
  }
}
