@import url('../../../assets/css/variables.css');
.accordion {
  --bs-accordion-color: white;
  --bs-accordion-bg: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-inner-border-radius: 6px;
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
  user-select: none;
}
.accordion-item {
  padding: 2px 0;
}
.accordion-button {
  font-size: 14px;
  color: var(--sidenav-hover-text);
  padding: 5px 8px 5px 5px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-button:not(.collapsed) {
  color: var(--white-text);
  /* background-color: unset;
  background: linear-gradient(180deg, #c39e32 0%, #e7dfb3 100%); */
  background-color: var(--primary-color);
  box-shadow: unset;
  border-radius: 6px;
}
.accordion-button::after {
  content: none;
}
.accordion-body {
  padding: 1px;
  background-color: var(--main-tabs-color);
}
.sidebar-link {
  all: unset;
  font-size: 14px;
  text-decoration: none;
  color: var(--sidenav-text);
  display: block;
  padding: 6px 0px;
}
.sidebar-link:hover {
  color: var(--sidenav-text);
}
.fav-events li {
  list-style: none;
  font-size: 14px;
  display: flex;
  font-weight: 400;
}
.fav-events li::before {
  content: '\2022';
  color: #c39e32;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.event-title {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  /* background: linear-gradient(180deg, #c39e32 0%, #e7dfb3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-decoration: none;
}
.sports-item {
  padding-left: 5px;
}
.left-top {
  border-radius: 15px;
  background: var(--main-tabs-color);
  padding: 6px;
  margin-bottom: 15px;
}
.left-top-item {
  display: flex;
  /* justify-content: space-between; */
  padding: 5px 10px;
  align-items: center;
  color: #101010;
  text-decoration: none;
  cursor: pointer;
}
.left-top-item img {
  height: 20px;
  width: 20px;
}
.left-top-item:hover {
  background-color: #56adec4f;
  border-radius: 10px;
}
.left-top-item.active {
  background-color: #56adec4f;
  border-radius: 10px;
}
.left-top-item.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.event-count {
  background-color: var(--primary-color);
  color: var(--white-text);
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: auto;
  font-size: 14px;
}
.item-img {
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 5px;
}
.left-top-item-header {
  margin-left: 2%;
  font-size: 14px;
  font-weight: 700;
}
@media only screen and (max-width: 1200px) {
  .left-top-item-header {
    font-size: 12px;
  }
  .left-top-item img {
    height: 20px;
    width: 20px;
  }
  .event-count {
    font-size: 12px;
  }
}
