#login-modal {
  background-image: url(/images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 20px;
  width: 100%;
  max-height: 550px;
  height: auto;
  max-width: 700px;
  top: 10% !important;
  bottom: 0;
  /* overflow-y: auto; */
  margin: auto;
}
.modal-content {
  background-color: var(--white-text);
  min-height: 570px;
  border-radius: 20px;
  background-image: url(/images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
#login-modal .row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}
[type='checkbox'].filled-in:not(:checked) + span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  transform: rotate(37deg);
  transform-origin: 100% 100%;
}
[type='checkbox'].filled-in:checked + span:not(.lever):before {
  top: 2px;
  left: 1px;
  width: 8px;
  height: 13px;
  border-color: transparent #fff #fff transparent;
  border-style: solid;
  border-width: 2px;
  transform: rotate(37deg);
  transform-origin: 100% 100%;
  z-index: 99;
}

[type='checkbox'].filled-in + span:not(.lever):after,
[type='checkbox'].filled-in + span:not(.lever):before {
  content: '';
  left: 0;
  position: absolute;
  transition:
    border 0.25s,
    background-color 0.25s,
    width 0.2s 0.1s,
    height 0.2s 0.1s,
    top 0.2s 0.1s,
    left 0.2s 0.1s;
  z-index: 1;
}
#login-modal
  .login-form
  .login-detail
  .remember-field
  [type='checkbox'].filled-in:not(:checked)
  + span:not(.lever):after {
  height: 18px;
  width: 18px;
  top: 2px;
  background-color: var(--bg-color);
  border-radius: 4px;
}
[type='checkbox'] + span:not(.lever) {
  position: relative;
  display: inline-block;
  height: 25px;
  -moz-user-select: none;
  user-select: none;
}
.modal .modal-close {
  right: 2%;
  position: absolute;
  top: 2%;
  z-index: 9999;
  background-color: var(--icon-bg2);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}
.modal .modal-close img {
  height: 20px;
  width: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #login-modal {
    height: auto;
    max-height: 570px;
  }
}
.input-field > label:not(.label-icon).active {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
}
input[type='text']:not(.browser-default) + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition:
    opacity 0.2s ease-out,
    color 0.2s ease-out;
}
#login-modal .lgn-modal-content {
  padding: 0;
  border-radius: 20px;
  overflow: initial;
}
.modal .lgn-modal-content form .input-field label {
  text-align: left;
  color: var(--light-text-color);
}
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#login-modal .error-msg {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 5px 0;
  color: #dd4b39 !important;
  text-align: start;
}

#login-modal .lgn-modal-content {
  padding: 0;
  border-radius: 20px;
  overflow: initial;
}

#login-modal .login-form {
  text-align: center;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
}

#login-modal .login-form .center-padding {
  padding: 10px 20px;
  margin-top: 30px;
}

#login-modal .login-form .bottom-icon {
  align-items: center;
}

#login-modal .login-form .bottom-icon .withdraw {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
  margin: 10px 0 5px;
  line-height: 1.2;
  font-style: italic;
}

#login-modal .login-form .bottom-icon .withdraw img {
  max-width: 330px;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 30px;
}

#login-modal .login-form .bottom-icon .withdraw strong {
  font-weight: 900;
}

#login-modal .login-form .bottom-icon .social-media {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#login-modal .login-form .bottom-icon .social-media a {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: var(--login-icon-bg);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-modal .login-form .bottom-icon .social-media a img {
  height: 15px;
}

#login-modal .login-form .left-side-col {
  z-index: 5002;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  #login-modal .login-form .right-side-col {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #login-modal .login-form .login-logo img {
    height: 30px !important;
    margin-right: 10px !important;
  }
}
#login-modal .login-form .right-side-col .mobile_bg {
  cursor: pointer;
}

#login-modal .login-form .right-side-col .mobile_bg img {
  max-width: 92%;
}

#login-modal .login-form .login-logo img {
  max-width: 100%;
  height: 45px;
  margin: 20px 0 0;
}

#login-modal .login-form .login-detail {
  padding: 25px 30px 5px;
}

#login-modal .login-form .login-detail .user_input {
  padding: 5px 8px;
  margin: 0;
  background-color: var(--input-color) !important;
  border: 1px solid var(--input-border) !important;
  border-radius: 15px;
}

#login-modal .login-form .login-detail .user_input label {
  text-align: left;
  top: 22px;
  left: 12px;
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#login-modal .login-form .login-detail .user_input .eye_icon {
  float: right;
  left: 0;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#login-modal .login-form .login-detail input {
  border: none;
  padding: 20px 0 0 5px !important;
  color: var(--primary-text-color);
  display: block;
  width: 98%;
  height: 25px !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 0;
  margin-bottom: 0 !important;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-bottom: 1px solid transparent !important;
  margin: 0 0 8px;
  background-color: initial;
  box-sizing: initial;
  outline: none;
}

#login-modal .login-form .login-detail input[type='password'] {
  font-size: 20px !important;
  font-weight: 600;
}

#login-modal .login-form .login-detail input:focus + label {
  color: var(--primary-color) !important;
}

#login-modal .login-form .login-detail input:focus {
  color: var(--primary-text-color) !important;
}

#login-modal .login-form .login-detail .remember-field {
  margin: 3px 0;
}

#login-modal .login-form .login-detail .remember-field label span.keep {
  color: var(--light-text-2);
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  padding: 6px 5px 5px 25px;
}

#login-modal
  .login-form
  .login-detail
  .remember-field
  [type='checkbox'].filled-in:not(:checked)
  + span:not(.lever):after {
  height: 18px;
  width: 18px;
  top: 2px;
  background-color: var(--bg-color);
  border-radius: 4px;
  border: 2px solid #5a5a5a;
}

#login-modal
  .login-form
  .login-detail
  .remember-field
  [type='checkbox'].filled-in:checked
  + span:not(.lever):after {
  top: 2px;
  height: 18px;
  width: 18px;
  color: var(--secondary-text-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
}

#login-modal
  .login-form
  .login-detail
  .remember-field
  [type='checkbox'].filled-in:checked
  + span:not(.lever):before {
  border-right-color: var(--secondary-text-color);
  border-bottom-color: var(--secondary-text-color);
}

#login-modal .login-form .login-detail .loginButton {
  background: var(--login-btn-color);
  box-shadow: var(--login-shadow);
  padding: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  line-height: 2.1;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  text-transform: capitalize;
  text-align: center;
  overflow: inherit;
  transition: all 0.2s;
  position: relative;
}

#login-modal .login-form .login-detail .input-field {
  background-color: transparent;
  border: 1px solid transparent;
}

#login-modal .social {
  width: 30px;
  height: 30px;
  margin: 2px 5px;
  display: inline-block;
}

#login-modal .helper-text {
  float: left;
  font-size: 10px;
  line-height: 1.5;
  padding: 3px 0 0 10px;
}
.input-field > label {
  cursor: text;
  transition:
    transform 0.2s ease-out,
    color 0.2s ease-out;
  position: absolute;
}
.input-field {
  position: relative;
}
