@import url('../../../assets/css/variables.css');
.comman-bg .bet-table-header {
  min-height: 30px;
  height: auto;
  padding: 5px 8px;
  border-radius: 8px 8px 0 0;
  background-color: var(--inplay-collapsible-bg);
  color: var(--primary-text-color);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.comman-bg .accordion-button {
  background: transparent;
  color: var(--primary-text-color);
  padding: 0 !important;
}
.comman-bg .accordion-body {
  background-color: var(--background-color);
}
.comman-bg .bet-table-row:first-child {
  padding: 2px 8px;
}
.comman-bg .bet-table-row {
  padding: 2px 8px;
}
.bet-table-row {
  padding: 6px 8px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.comman-bg .accordion-body .bet-table-row:first-child .nation-name {
  width: calc(100% - 300px);
}
.comman-bg .nation-name {
  width: calc(100% - 452px);
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--team-name-color);
}
.comman-bg .accordion-body .bet-table-row .nation-name > span:first-child {
  max-width: 100%;
  line-height: normal;
}
.comman-bg .accordion-body .nation-name .max-bet {
  text-align: right;
}
.comman-bg .nation-name > span:first-child {
  max-width: 100%;
  display: inline-block;
  text-transform: capitalize;
  vertical-align: middle;
}
.comman-bg .max-bet {
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  color: #aaafb5;
}
.comman-bg .bl-title {
  height: 22px;
  border-radius: 4px;
  width: 72px;
  text-align: center;
  line-height: 22px;
  color: var(--primary-text-color) !important;
  font-weight: 500;
  margin-right: 4px;
  cursor: default;
  font-size: 14px;
}
.back-title {
  background-color: #72bbef80 !important;
  color: #eee !important;
}
.comman-bg .bl-title:last-child {
  margin-right: 0;
}
.lay-title {
  background-color: #f994ba80 !important;
  color: #eee !important;
}
.comman-bg .nation-name p {
  height: 19px;
  color: #aaafb5;
  margin-bottom: 6px;
  margin-bottom: 0;
  line-height: 20px;
  width: 100%;
}
.comman-bg .nation-name p span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 40px);
  width: calc(100% - 40px);
  display: inline-block;
}
.comman-bg .nation-name p span:last-child {
  font-size: 12px;
}
.comman-bg .nation-name p:last-child {
  margin-bottom: 0;
}
.comman-bg .bl-box {
  width: 72px;
  height: 38px;
  padding: 3px 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bl-box {
  height: 32px;
  width: 72px;
  border-radius: 4px;
  padding: 5px 0;
  text-align: center;
  margin-right: 4px;
  float: left;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.back {
  background-color: #72bbef;
}
.back:hover {
  background-color: #52a5e0;
}
.back:active {
  background-color: #4c9bd3;
}
.back1 {
  background-color: #72bbefcc !important;
}
.back1:hover {
  background-color: #56adec !important;
}
.back1:active {
  background-color: #4c9bd3 !important;
}
.back2 {
  background-color: #72bbefa3 !important;
}
.back2:hover {
  background-color: #56adec !important;
}
.back2:active {
  background-color: #4c9bd3 !important;
}
.bl-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
}
.comman-bg .bl-box .odds {
  height: 16px;
  line-height: 16px;
  margin-bottom: 1px;
}
.bl-box .odds {
  height: 22px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
.comman-bg .bl-box span {
  height: 14px;
  line-height: 14px;
}
.bl-box span {
  height: 19px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.lay {
  background-color: #f994ba;
}
.lay:hover {
  background-color: #ed7fa9;
}
.lay:active {
  background-color: #e16f9a;
}
.lay1 {
  background-color: #f994bacc !important;
}
.lay1:hover {
  background-color: #ed7fa9 !important;
}
.lay1:active {
  background-color: #e16f9a !important;
}
.lay2 {
  background-color: #f994baa3 !important;
}
.lay2:hover {
  background-color: #ed7fa9 !important;
}
.lay2:active {
  background-color: #e16f9a !important;
}
.bl-box:last-child {
  margin-right: 0 !important;
}
.odds-down {
  transform: translateZ(0);
}
.odds-down::before {
  background: #ff000080;
  transform: scale(0, 0);
  animation: oddsdown 0.5s ease-out;
}
.odds-up {
  transform: translateZ(0);
}
.odds-up::before {
  background: #13c41380;
  transform: scale(0, 0);
  animation: oddsdown 0.5s ease-out;
}
@keyframes oddsdown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
.comman-bg .btn-success .disabled {
  cursor: not-allowed;
  opacity: 0.65;
}
.right-sidebar.casino-right-sidebar {
  background-color: var(--background-color);
  padding: 4px;
}
.right-sidebar {
  border-radius: 8px 0 0 0;
  height: calc(100vh - 100px);
  scrollbar-width: thin;
  overflow-x: hidden;
  position: relative;
}
.close-bet {
  width: unset !important;
  background: transparent;
}
.comman-bg .bet-table-body {
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 8px 8px;
}
.comman-bg .bet-table-box {
  border-bottom: 1px solid #3c444b;
}
.comman-bg .bet-table-box:last-child {
  border-bottom: 0;
}
.comman-bg .game-title {
  width: calc(100% - 492px);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.comman-bg .game-date {
  border-right: 1px solid #3c444b;
  width: 140px;
  display: flex;
  display: -webkit-flex;
}
.game-title .day {
  height: 22px;
  color: #aaafb5;
  opacity: 0.6;
  display: inline-block;
  min-width: 85px;
  margin-bottom: 0;
  position: relative;
  font-size: 14px;
}
.game-date.inplay {
  width: auto;
  border-right: 0 !important;
  padding-right: 0;
  width: 50px;
  position: relative;
}
.game-date.inplay span {
  position: relative;
  width: 50px;
  color: #03b37f;
  text-align: center;
}
.game-date.inplay span:after {
  content: '';
  background-color: #03b37f;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -1px;
  animation: linear infinite alternate;
  animation-name: run;
  animation-duration: 1.2s;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1.2s;
}
@keyframes run {
  0% {
    left: 0;
    width: 5%;
  }
  50% {
    width: 100%;
  }
  100% {
    right: 0;
    width: 5%;
  }
}
.date-height {
  display: block;
  float: left;
}
.date-time {
  position: relative;
  width: 62px;
  height: 42px;
  border-radius: 5px;
  color: var(--white-text);
  text-align: center;
  font-weight: 400;
  background-color: var(--primary-color);
  padding: 6px 1px;
  float: left;
  margin-right: 5px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.time {
  font-size: 9px;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-weight: 700;
  color: var(--black-text);
}
.date {
  font-size: 9px;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-weight: 700;
  color: var(--black-text);
}
.date-height ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.in-play {
  position: relative;
  background: var(--in-play-color);
  color: var(--in-play-border);
  font-size: 8px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  text-transform: initial;
}
.in-play::before {
  animation-delay: -4s !important;
}
.in-play::before,
.in-play::after {
  content: '';
  z-index: 0;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  border-radius: 7px;
  animation: clipMe 8s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@keyframes clipMe {
  0%,
  100% {
    clip: rect(0, 75px, 2px, 0);
  }

  25% {
    clip: rect(0, 2px, 75px, 0);
  }
  50% {
    clip: rect(45px, 75px, 75px, 0);
  }
  75% {
    clip: rect(0, 75px, 75px, 45px);
  }
}
.date-time .animate {
  left: 7px;
}
.animate {
  overflow: hidden;
  position: relative;
  float: right;
  width: 73px;
  height: 40px;
  left: 2px;
  top: -4px;
}
.animate .flip-animation {
  animation: flip-1 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.animate .flip-animation li {
  color: var(--black-text);
  font-size: 9px;
  font-weight: 700;
  padding: 0;
  height: 39px;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
}
.in-play .in-play-light {
  display: flex;
  align-items: center;
  left: -4px;
  position: relative;
}

.in-play .in-play-light .icon-holder-small {
  width: 21px;
  position: relative;
}
.icon-holder-small {
  width: 24px;
  height: 24px;
  margin: 2px auto auto;
  align-items: center;
  display: flex;
}
.icon-holder-small .sports-icon {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(./images/icon-play.png);
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  margin-left: 2px;
}
@keyframes flip-1 {
  0% {
    margin-top: -90px;
  }
  30% {
    margin-top: -60px;
  }
  55% {
    margin-top: -60px;
  }
  75% {
    margin-top: 0;
  }
  99.99% {
    margin-top: 0;
  }
  100% {
    margin-top: -90px;
  }
}
.comman-bg .game-name {
  padding-left: 10px;
  width: calc(100% - 160px);
  vertical-align: top;
}
.team-name {
  max-height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
}
.team-name.team-event {
  font-size: 14px;
  color: var(--third-color);
}
.comman-bg .point-title {
  width: 148px;
  margin-left: 16px;
  text-align: center;
}
.game-icons {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #aaafb5;
}
.game-icon {
  text-align: center;
  margin-right: 5px;
}
.bl-box.no-val {
  border: 1px solid #3c444b;
  border-radius: 4px;
}
.bl-box.no-val .odds {
  color: #aaafb5;
}
.suspended {
  position: relative;
  pointer-events: none;
}
.suspended:before {
  content: '';
  background-image: url(../images/passss.png);
  background-size: 17px 17px;
  filter: invert(1);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center;
  pointer-events: none;
}
.suspended:after {
  content: '';
  background-color: #373636d6;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: not-allowed;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0.7;
}
.suspendedtext {
  position: relative;
  pointer-events: none;
}
.suspendedtext:after {
  content: attr(data-title);
  text-transform: uppercase;
  background-color: var(--market-suspend-bg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 452px;
  height: 38px;
  right: 8px;
  top: 2px;
  color: var(--market-suspend-title);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: not-allowed;
  pointer-events: none;
  font-weight: 400;
}
.fancy-tripple .bet-table-row .nation-name {
  width: calc(100% - 224px) !important;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.row.row5 {
  margin-left: -5px;
  margin-right: -5px;
}
.col-md-6:nth-last-child(2) .fancy-tripple,
.col-md-6:nth-last-child(1) .fancy-tripple {
  border-bottom: 0;
}
.fancy-tripple {
  border-bottom: 1px solid #3c444b;
  height: 100%;
}
.fancy-min-max {
  font-size: 12px;
  text-align: right;
  width: 72px;
  line-height: 16px;
  font-weight: bold;
  color: var(--light-text-2);
}
.fancy-tripple .suspendedtext:after {
  width: 148px !important;
  right: 84px !important;
  height: calc(100% - 4px);
}
@media only screen and (min-width: 1280px) {
  .d-none-desktop {
    display: none !important;
  }
  .casino-right-sidebar.right-sidebar {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
  .suspendedtext:after {
    width: calc(100% - 16px);
  }
  .fancy-tripple .suspendedtext:after {
    width: calc(63% - 13px) !important;
    right: calc(37% + 5px) !important;
    height: calc(100% - 4px);
  }
  .comman-bg .accordion-button {
    font-size: 12px;
  }
  .max-bet {
    text-align: right;
    width: 100px !important;
  }
  .bet-table-row {
    border-bottom: 0;
    padding: 2px 8px !important;
  }
  .d-none-mobile {
    display: none !important;
  }
  .bet-table-mobile-team-name {
    line-height: 17px;
    color: #aaafb5;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  .comman-bg .bl-box {
    margin-top: 0;
    width: 15%;
    margin-right: 2%;
  }
  .fancy-tripple .bet-table-row .bl-box {
    width: 30% !important;
  }
  .bl-box .odds {
    font-size: 15px;
    font-weight: bold;
  }
  .bl-box span {
    font-size: 12px;
  }

  .dashboard-data {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .betting-user-disc .name {
    font-size: 14px;
  }
  .betting-user-disc .disc {
    font-size: 12px;
  }
  .table-section {
    padding: 5px;
  }
  .comman-bg .game-title {
    width: 100%;
    margin-bottom: 4px;
    background: var(--inplay-collapsible-bg);
  }
  .bet-table-box {
    padding-bottom: 4px;
  }
  .game-title .day {
    margin-bottom: 0;
    height: auto;
    min-width: unset;
    line-height: 14px;
    font-size: 12px;
  }
  .game-icons {
    width: 40%;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 12px;
  }
  .team-name {
    max-height: 16px;
    line-height: 16px;
    font-size: 12px;
  }
  .team-name.team-event {
    font-size: 12px;
  }
  .point-title {
    width: 32% !important;
    margin-left: 0 !important;
    margin-right: 2% !important;
  }
  .point-title:last-child {
    margin-right: 0 !important;
  }
  .event-box {
    width: 48% !important;
  }
  .bet-table-row-header-mobile {
    display: flex;
    align-items: center;
    background-color: #3c444b;
    padding: 4px;
    margin-bottom: 3px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 1279px) {
  .suspendedtext:after {
    width: calc(100% - 16px);
  }
  .fancy-tripple .suspendedtext:after {
    width: calc(63% - 14px) !important;
    right: calc(37% + 6px) !important;
    height: calc(100% - 4px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .fancy-tripple .suspendedtext:after {
    width: calc(63% - 13px) !important;
    right: calc(37% + 5px) !important;
    height: calc(100% - 4px);
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
  .amount-choose {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    margin: 10px 0;
  }
  .bet-amount-disc .points {
    display: inline-block;
  }
  .bet-amount-disc .points p.qty input#qty {
    width: 100%;
  }
}
.bet-table-popup .modal-content {
  background-color: var(--background-color);
}
.bet-table-popup .modal-body {
  padding: 5px;
  background: var(--bg-color);
}
.bet-table-popup .modal-title {
  font-size: 14px;
}
.stake-input {
  border: 1px solid var(--third-color);
  color: var(--primary-text-color) !important;
  transition: 0.8s;
  background-color: var(--input-color);
}
.stake-input:focus {
  border: 1px solid var(--third-color);
  color: var(--primary-text-color) !important;
  transition: 0.8s;
  background-color: var(--input-color);
  box-shadow: 0 0 0 0.25rem #ecb02321;
}
